@include mediaSm {
  main {
    .big-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4.7rem;
    }
  }

  ul.menu-nav,
  div.menu-hello {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate(0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate(-100%, 0);
    font-size: 24px;
  }

  .menu-hello {
    height: 25vh;
    transform: translate(100%, 0);

    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio";

    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
@include mediaMd {
  main {
    .big-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4.7rem;
    }
  }

  ul.menu-nav,
  div.menu-hello {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate(0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate(-100%, 0);
    font-size: 24px;
  }

  .menu-hello {
    height: 25vh;
    transform: translate(100%, 0);

    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
