@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}

body {
  background: $color-primary;
  color: $text-primary;
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.big-heading {
    font-size: 6rem;
  }
  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem, 1rem;
  }
}

a {
  color: $text-primary;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $text-secondary;
}

main {
  padding: 4rem;
  height: 100%;

  .icon {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $color-secondary;
        @include easeOut(color);
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
